{% extends 'base.html' %}

{% block content %}
<div class="standard-back">
    <div class="standard-main center-contents">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Log In">
        </form>
        <br>
        <hr>
        <br>
        <div class="button-1">
            <a href="{% url 'users:register' %}" class="link-white">
                <h3>
                    Sign Up
                </h3>
            </a>
        </div>
    </div>
</div>
{% endblock content %}