body {
  background-color: bisque;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.esri-icon-edit, .esri-icon-left, .esri-icon-trash {
  cursor: pointer;
}

.esri-icon-trash {
  color:white;
  background-color:#d80000;
  padding: 3px;
  border-radius: 3px;
}

.style-edit * {
  padding: 3px;
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 600px;
  width: 100%;
}

#rendererDiv {
  padding: 10px;
  width: 280px;
}


