body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-main {
  width: 100%;
  background: #222222;
  color: white;
  display:flex;
  flex-wrap: nowrap;
  position: relative;
  height: 72px;
}

.header-main > div {
  width: 33.33%;
  padding: 4px;
}

.header-main h1 {
  margin:0;
  /* margin-top: 8px; */
  padding: 0px;
}

.header-main a {
  color:white;
  text-decoration: none;
}

.nav-left {
  /* margin-right: auto; */
  /* margin:0px; */
  margin: 12px 20px;
  text-align: left;
}
.nav-center {
  /* position: absolute; */
  /* left: 50%;
  transform: translate(-50%, 0%); */
  text-align: center;
}
.nav-center h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.nav-right {
  /* display: flex; */
  text-align: right;
  margin:4px;
}

.nav-right * {
  padding: 7.5px;
}

.customize-layer-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 2rem;
}


.esri-icon-edit, .esri-icon-left, .esri-icon-trash {
  cursor: pointer;
}

.esri-icon-trash {
  color:white;
  background-color:#d80000;
  padding: 3px;
  border-radius: 3px;
}

.slider {
  padding-bottom: 32px;
}

.style-edit * {
  padding-top: 3px;
}

.color-label {
  margin:0;
}


#expand-default ul,h3,input {
  padding-top: 6px;
}
/* 
#expand-modify span,ul,h3 {
  margin-top:6px;
} */

#app {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#viewDiv {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#rendererDiv {
  padding: 10px;
  width: 280px;
}

#main-container {
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  position: relative;
}

/* #set-default-view {
  border-radius: 8px;
  border-color:black;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(220, 220, 220);
  padding:4px;
  width: 140px;
}

#set-default-view:hover {
  cursor: pointer;
} */

@media (min-width: 670px) {
  
}

@media (min-width: 820px) {
  
}