{% extends 'base.html' %}

{% block content %}

{% comment %} <div id="home">
    <div id="main-body">
        <button id="create-map" onclick="location.href = 'map/create'"><h1>Create Map</h1></button>
    </div>
</div> {% endcomment %}
<div class="standard-back">
    <div class="standard-main">
        <h1>About GeograFish</h1>
        <p>
            GeograFish is a lightweight web app built to view basic GIS data. Users can create maps, add data, 
            and customize visual properties. Maps can be shared via unique URL.
            GeograFish is not intended to be used to host or store data. Data cannot be manipulated by the app. 
            Displayed data may not be accurate. The app should not be used for design.
            This app is built by Jack Amoss as a capstone project for PDX Code Guild's Full Stack bootcamp.
        </p>
    </div>
</div>
{% endblock content %}