
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="mobile-home">
    <p></p>
</div>
<div id="home">
    <div id="main-body">
        <div id="main-body-contents">
            <button id="create-map" onclick="location.href = 'map/create'"><h1>Create Map</h1></button>
            <p>View, style, and share basic GIS data</p>
        </div>
    </div>
</div>
<div id="mobile-home">
    <h1>Use a larger screen to create a map<h1>
</div>
<div class="home-panel-container">
    <div class="home-panel">
        <div>
            <h1>About</h1>
            <hr>
            <p>
                GeograFish is a lightweight web app built to view basic GIS data. Users can create maps, add data, 
                and customize visual properties. Maps can be shared via unique URL. Geografish is built with ArcGIS API for JavaScript. Currently, only GeoJSON data is supported.

            </p>
            <a href="{% url 'map:about' %}">Learn More</a> 
        </div>
        <img
            src="{% static 'map_sample.png' %}"
            alt="map sample image"
        />
    </div>
    <div id="sample-panel" class="home-panel">
        <div>
            <h1>Sample Maps</h1>
            <hr>
            <br>
            <div id="sample-gallery">
                <a href="https://geografish.herokuapp.com/map/epI5ZFKzvGvRB29p/">
                    <div id="pdx-cip" class="sample-map">
                        <div class="sample-map-text">
                            <h1 class="white-back">Portland CIP</h1>
                            <p class="white-back">
                                Polygon features representing current Capital Improvement Projects (CIP) for the City of Portland Bureaus
                            </p>
                        </div>
                    </div>
                </a>
                <br>
                <a href="https://geografish.herokuapp.com/map/YyP3CmwTlYw7Z3Cj/">
                    <div id="ak-np" class="sample-map">
                        <div class="sample-map-text">
                            <h1 class="white-back">Alaskan National Parks</h1>
                            <p class="white-back">
                                Polygon features representing National Parks in Alaska
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="home-panel">
        <div>
            <h1>Instructions</h1>
            <p>
                Users must first <a hrev="{% url 'users:register' %}">create an account</a> before creating a map. 
                Authored maps can be accessed through the user's profile.
            </p>
            <a href="{% url 'map:instructions' %}">Learn More</a> 
        </div>
    </div>
    <br>
    <br>
</div>
<script

{% endblock content %}