
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="mobile-home">
    <p></p>
</div>
<div id="home">
    <div id="main-body">
        <div id="main-body-contents">
            <button id="create-map" onclick="location.href = 'map/create'"><h1>Create Map</h1></button>
            <p>View, style, and share basic GIS data</p>
        </div>
    </div>
</div>
<div class="home-panel-container">
    <div class="home-panel">
        <div>
            <h1>About</h1>
            <p>
                GeograFish is a lightweight web app built to view basic GIS data. Users can create maps, add data, 
                and customize visual properties. Maps can be shared via unique URL.
            </p>
            <a href="{% url 'map:about' %}">Learn More</a> 
        </div>
        <img
            src="{% static 'map_sample.png' %}"
            alt="map sample image"
        />
    </div>
    <div class="home-panel">
        <div>
            <h1>Instructions</h1>
            <p>
                Users must first <a hrev="{% url 'users:register' %}">create an account</a> before creating a map. 
                Authored maps can be accessed through the user's profile.
            </p>
            <a href="{% url 'map:instructions' %}">Learn More</a> 
        </div>
    </div>
    <br>
    <br>
</div>
<script

{% endblock content %}