

{% extends 'base.html' %}
{% load static %}
{% block content %}

{% comment %} todo: create app.js to display map- axios to retrieve data from db {% endcomment %}
<link rel="stylesheet" href="https://js.arcgis.com/4.25/esri/themes/light/main.css"> 
<link rel="stylesheet" href="{% static 'main.css' %}">


<div id="app">
    {% comment %} Map Title: <input type="text" id="mapViewTitle" placeholder="{{ map.title }}" v-model="mapTitle" @change="changeMapName"> 
    Author: <a href="{% url 'users:profile' map.author %}">{{ map.author }}</a> {% endcomment %}
    <div id="viewDiv"></div>
    <div id="rendererDiv" class="esri-widget">
        <div>
            <div id="expand-default">
                <h3>Layers</h3>
                <p v-if="dataLayers.length === 0">No data has been added to this map.</p>
                <ul id="layerToggles">
                    {% comment %} <template v-for="layer in dataLayers">
                        <li>
                            <input id="layer-toggle" type="checkbox" @change="toggleLayerVisibility()">
                            <p>{& layer.title &}</p>
                        </li>
                    </template> {% endcomment %}
                </ul>
                <br>
                <h3>Add New Layer</h3>
                <input @change="readFile" type="file" accept=".geojson">
                <br>
            </div>
            <div id="expand-modify" style="display: none">
            </div>
        </div>
    </div>
    <input value="{{ map.id }}" type="hidden" id="map-id">
</div>

<!-- Vue -->
<script src="https://unpkg.com/vue@2"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

<script src="https://js.arcgis.com/4.25/"></script>
<script src="{% static 'esri_map.js' %}"></script>

{% endblock content %}