{% extends 'base.html' %}

{% block content %}

{% comment %} <div id="home">
    <div id="main-body">
        <button id="create-map" onclick="location.href = 'map/create'"><h1>Create Map</h1></button>
    </div>
</div> {% endcomment %}
<div class="standard-back">
    <div class="standard-main">
        <h1>User Profile: {{ profile.username }}</h1>
        {% comment %} <h5><em>joined {{ profile.date_joined }}</em></h5> {% endcomment %}
        <p><a href="{% url 'logout' %}">Logout</a></p>
        <hr>
        <br>
        <div>
            <h3>Authored Maps</h3>
            <br>
            <ul>
            {% for map in profile.maps.all %}
                <li><a href="{% url 'map:view_map' map.url_code %}">{{ map.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}